<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<div class="media">
				<%= image_tag @user.get_profile_picture, class: "pull-left" %>
				<div class="media-body">
					<h4 class="media-heading"><%= @user.name %></h4>
					from <%= @user.get_location %>
				</div>
			</div>
			<hr>
			<div class="books">
				<% @user.get_books.each do |book| %>
				<p><%= book["name"] %></p>
				<% end %>
		</div></div>
		<div class="col-lg-6">
			<% @user.posts.order("created_at DESC").each do |post| %>
			<div class="post">
				<h5><%= post.title %></h5>
				<p><%= post.content %></p>
				<span class="pull-right label label-info"><%= time_ago_in_words(post.created_at) %> ago</span>

				<% if post.user == current_user %>
				<span class="pull-left"><%= link_to 'edit', edit_post_path(post), class: "btn btn-xs btn-primary" %> <%= link_to 'destroy', post, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-xs btn-danger" %></span>

				<% end %>
			</div>
			<% end %>
		</div>
	</div>
</div>